body {
  font-family: "Noto Sans KR", sans-serif;

  margin: 0;
  padding: 0;
  background: #fff;
  color: #111;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle {
  color: #554646;
  margin-bottom: 24pxs;
  font-weight: 500;
  font-size: 20px;
}

.genderWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 12px;
}

.genderWrapper > label {
  display: inline-flex !important;
  align-items: center;
  gap: 8px;
  margin: 0 !important;
  width: auto !important;
  white-space: nowrap;
}

.genderWrapper > label > input[type="radio"] {
  margin: 0;
}

.nameAge {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
}
.nameAgeWrapper {
  flex: 1;
}
.nameAgeWrapper.age {
  flex: 0 0 140px;
}

.subtitle {
  margin-bottom: 24px;
}

label {
  color: #4e5968;
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin: 12px 0 6px;
}
.nameAge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.nameAgeWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}
input,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #8b95a1;
  margin-bottom: 12px;
}

.option-name {
  color: #4e5968;
  font-size: 16px;
  font-weight: 500;
}

input::placeholder {
  color: #8b95a1;
  font-size: 13px;
}

button {
  width: auto;
  height: 50px;
  margin-top: 2rem;
  padding: 10px 20px;
  background: linear-gradient(90deg, #ff3f39, #f15774);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(90deg, #d9443f, #b9322f);
}
