body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #111;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.subtitle {
  color: #666;
  margin-bottom: 24px;
}

label {
  display: block;
  margin: 12px 0 6px;
  font-weight: bold;
}

input, select {
   box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 12px;
}


.option-name{
  color: #4E5968;
  font-size: 16px;
  font-weight: 500;
}


button {
  width: 100%;
  padding: 12px;
  background: #f33;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  background: #d22;
}


h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 24px;
}

